#comments {
    margin-top: 1rem;
}    
.comment-author{
    margin-bottom: .8rem;

}
.reply{
    margin-bottom: .8rem;
}

// afecta zona del slider
.comments{
    
    .number_comments{
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 1rem;
    }
}