.widget_search{
    margin-top: 1rem;
}    
.widget-title{
    padding-top: 1.5rem;
    color:$danger;
  }
  .widget-title + ul li a{
    color: #196991;
    transition: font-weight .2s ease;
  }
  .widget-title + ul li:hover a{
    color: #196991;
    font-weight: bold;
  }
  
  .comment-author-link{
    color:#196991;
    font-weight: bold;
  }
  .recentcomments {
   
    margin: .5rem;
    .order--1{
     order: -1;
   }
    
    span{
      margin-right: .5rem;
    }
    a{
      font-weight: bold;
      color: $danger;
      order: 2;
    }
  }